<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form action="/login" method="POST">
        <label for="roll_number">Roll Number:</label><br>
        <input type="text" id="roll_number" name="roll_number" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Login">
    </form>
    <p>If you don't have an account, <a onclick="location.href='/registration'"> click here </a> to register.</p>

</body>
</html>
