<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher's Dashboard</title>
</head>
<body>
    <h2>Welcome to Teacher's Dashboard</h2>
    <div>
        <button onclick="location.href='/find_student'">Find Student</button>
        <button onclick="location.href='/take_attendance'">Take Attendance</button>
        <button onclick="location.href='/train_data'">Train Data</button>
        <button onclick="location.href='/download_details'">Download Details</button>
    </div>
</body>
</html>
